<form method="get" class="form-horizontal">
	<div class="col-md-12 alert alert-danger" ng-show="errors != ''">{{ errors }}</div> 
	<div class="col-md-12 alert alert-success" ng-show="success != ''">{{ success }}</div> 
	<div class="clearfix"></div>
    <div class="hr-line-dashed"></div>   
    <div ng-if="!clm">			
    	<div class="form-group">
        	<label class="col-sm-2 control-label">Branch<font color="FireBrick">*</font></label>
            <div class="col-sm-10">
            	<select id="selected_branch" class="form-control" ng-model="appointment.branch_id" ng-options="branch.id as branch.description for branch in appointmentPreData.branches" requiered></select>
            </div>
        </div>
        <div class="hr-line-dashed"></div>   
        <div class="form-group">
        	<label class="col-sm-2 control-label">Insurance Company<font color="FireBrick">*</font></label>
            <div class="col-sm-10">
            	<select id="selected_insurance_company" class="form-control" ng-model="appointment.insurance_company_id" ng-options="insurance_company.id as insurance_company.name for insurance_company in appointmentPreData.insurance_companies" requiered></select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Product<font color="FireBrick">*</font></label>
        <div class="col-sm-10">
            <select id="selected_product" class="form-control" ng-model="appointment.product_id" ng-options="product.id as product.description for product in appointmentPreData.products" requiered></select>
        </div>
    </div>  

    <div class="form-group" ng-if="clm">
        <label class="col-sm-2 control-label">Vehicle registration<font color="FireBrick">*</font></label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="city" ng-model="appointment.vehicle_registration">
        </div>
        <label class="col-sm-2 control-label">Make<font color="FireBrick">*</font></label>
        <div class="col-sm-2">
            <input type="text" class="col-sm-2 form-control" name="city" ng-model="appointment.vehicle_make">
        </div>
        <label class="col-sm-2 control-label">Model<font color="FireBrick">*</font></label>
        <div class="col-sm-2">
        <input type="text" class="col-sm-2 form-control" name="city" ng-model="appointment.vehicle_model">
        </div>
       
    </div>
    <div class="hr-line-dashed"></div>    
    <div class="form-group" ng-if="!clm">
        <label class="col-sm-2 control-label">Vehicle<font color="FireBrick">*</font></label>
         <div class="col-sm-10">
            <select id="selected_vehicle" class="form-control" ng-model="appointment.vehicle_id" ng-options="vehicle.id as (vehicle.make_and_model+' ('+vehicle.registration+')') for vehicle in appointmentPreData.vehicles" requiered></select>
        </div>
            <div class="hr-line-dashed"></div>
    </div>        

    <div class="form-group">
        <!-- <p ng-show="isGemini()" class="form-header">Delivery Address</p> -->
    	<label class="col-sm-2 control-label">City</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.city">
        </div>
        <label class="col-sm-2 control-label">Postcode</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="city" ng-model="appointment.postcode">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
    	<label class="col-sm-2 control-label">Address Line 1</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="city" ng-model="appointment.street">
        </div>
         <label class="col-sm-2 control-label">Address Line 2</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="city" ng-model="appointment.street2">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Home Name/Number</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="city" ng-model="appointment.home_number">
        </div>
    </div>

<!--     <div ng-show="isGemini()">
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <p class="form-header">Collection Address</p>
            <label class="col-sm-2 control-label">City</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="city" ng-model="appointment.col_city">
            </div>
            <label class="col-sm-2 control-label">Street</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="city" ng-model="appointment.col_street">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Postcode</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="city" ng-model="appointment.col_postcode">
            </div>
        </div>
        <div class="gap"></div>
    </div>

    <div ng-show="isGemini()">
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Insurer</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="city" ng-model="appointment.insurer">
            </div>
            <label class="col-sm-2 control-label">Vat Status</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="city" ng-model="appointment.vatstatus">
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Courtesy Car</label>
            <div class="col-sm-4">
                <input type="checkbox" value="true" ng-value="true" class="form-control" name="city" ng-model="appointment.courtesy_car" ng-selected="appointment.courtesy_car == true">
            </div>
        </div>
    </div> -->

    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Reference Number</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.claim_number">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
        <div ng-if="!clm">
        	<label class="col-sm-2 control-label">Excess</label>
            <div class="col-sm-4">
            	<input type="text" class="form-control" name="city" ng-model="appointment.excess">
            </div>
        </div>
        <label class="col-sm-2 control-label">Home Phone</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.home_phone">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
    	<label class="col-sm-2 control-label">Contact Name</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.contact_name">
        </div>
        <label class="col-sm-2 control-label">Work Phone</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.work_phone">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
    	<label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.email">
        </div>
        <label class="col-sm-2 control-label">Mobile</label>
        <div class="col-sm-4">
        	<input type="text" class="form-control" name="city" ng-model="appointment.mobile">
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group">
    	<label class="col-sm-2 control-label">Notes</label>
        <div class="col-sm-10">
        	<textarea class="form-control" rows="10" ng-model="appointment.notes" />
        </div>
    </div>
    
    <div class="hr-line-dashed"></div>
    <div class="form-group" ng-show="appointment.id == null">
        <div class="col-sm-4 col-sm-offset-2">
            <a class="btn btn-white" ng-href="#/appointments">Cancel</a>
            <button class="btn btn-primary" ng-click="saveAppointment();">Save</button>
        </div>
    </div>
</form>