<div id="dashboard">
	<div class="row wrapper border-bottom white-bg page-heading one-line">
	    <div class="col-sm-8">
	        <h2>Dashboard</h2>
	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">

		<div class="row">
		
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>Download the app</h5>
						<div class="ibox-tools">
						</div>
					</div>
					<div class="ibox-content">
						<div class="col-md-4 col-xs-12" style="text-align: center">
							<img src="/images/android_device.png" class="android-app"/> <br>
							<a ng-if="appLink != 'unknown'" class="btn btn-primary" href="{{ appLink }}"><i class="fa fa-android"></i> DOWNLOAD APP</a>
						</div>
						<div class="col-md-8 col-xs-12 desc">
							<p><b>Android Application</b></p>
							<!--<p>ConnecteFleet give you opportunity to play with the system from any device you can have. We have created Android mobile application which offers you many features. To start using the app open that page on your mobile device and click Download App button.</p>-->
			                <p>Tap the Download App button below to download the application to your mobile. Then go to settings on your phone, select the downloaded .apk and follow the installation instructions.</p>
			                <p><b>If you are using Chrome browser please read</b></p>
			                <p>There are two solutions to download and install application. First is to choose another browser when you tap download button (google chrome will prompt you to choose browser, choose another one ,best would be default android browser - called Internet or just Browser, if you choose google chrome new tab will open with blank page!). Second is to press and hold download button a menu will appear, choose save link (application can be downloaded this way, but it cannot be installed through notification, you have to open it via file manager).</p>
							<!--<p class="m-t-20"><a href="/ConnectedFleet_2014_10_30.apk" class="btn btn-primary">Download App</a></p>-->
						</div>
						<div class="clearfix"></div>
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
