<div class="wrapper wrapper-content animated fadeInRight ecommerce" ifcan="see vehicles list" >
    <div class="ibox float-e-margins">
	    <div class="ibox-content">
	        <div class="row">	           
	            <div class="col-sm-4 pull-right">
	            	<input type="text" class="input-sm form-control" ng-model='filter' placeholder="Filter by id, name, last name or email">
	            </div>
	        </div>
	        <div class="table table-striped table-hover">
	            <table class="table">
	                <thead>
						<th>Id</th>
						<th>Branch</th>
						<th>Product</th>
						<th>Insurance Company</th>
						<th>Driver</th>
						<th>Status</th>
						<th>Action</th>
					</thead>
					<tbody>
						<tr ng-repeat="a in appointments | filter: filter" total-items="totalItems" current-page="currentPage">
							<td>{{ a.id }}</td>
							<td>{{ a.branch.description }}</td>
							<td>{{ a.product.description }}</td>
							<td>{{ a.insurance_company.name }}</td>
							<td>{{ a.driver_full_name }}</td>
							<td>{{ a.status }}</td>
							<td><a ng-href="#/appointments/{{ a.id }}/details"><i class="fa fa-edit"></i></a></td>
						</tr>
					</tbody>
	            </table>
	        </div>
	    </div>
    </div>
</div>