<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Inspections per month</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <div>
                <canvas id="lineChart" height="140"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Trips per month</h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <div>
                <canvas id="lineChart2" height="140"></canvas>
            </div>
        </div>
    </div>
</div>