<div class="ibox float-e-margins animated fadeInRight" ng-show="vehicle != null">                        
    <div>
        <div class="col-md-12 alert alert-danger" ng-show="errors != ''">{{ errors }}</div> 
        <div class="col-md-12 alert alert-success" ng-show="success != ''">{{ success }}</div> 
        <form method="get" class="form-horizontal">
            <div ng-show="manufacturer_edit" class="form-group">
                <label class="col-sm-2 control-label">Manufacturer</label>
                <div class="col-sm-10">
                    <select id="selected_manufacturer" class="form-control" ng-model="edit_vehicle.manufacturer_id" ng-options="manufacturer.id as manufacturer.description for manufacturer in vehiclePreData.manufacturers" ng-disabled="!can_update" requiered></select>
                    <span class="help-block m-b-none">
                        Please remember that once set the manufacturer will not be able to change.
                    </span>
                </div>
            </div>
            <div ng-show="model_edit" class="hr-line-dashed"></div>   
            <div ng-show="model_edit" class="form-group">
                <label class="col-sm-2 control-label">Model</label>
                <div class="col-sm-10">
                    <select id="selected_fleet" class="form-control" ng-model="edit_vehicle.model_id" ng-options="model.id as model.description for model in vehiclePreData.model | filter: {manufacturer_id: edit_vehicle.manufacturer_id}" ng-disabled="!can_update" requiered></select>
                     <span class="help-block m-b-none">
                        Please remember that once set the model will not be able to change.
                    </span>
                </div>
            </div>
            <div class="hr-line-dashed"></div> 
            <div class="form-group">
            	<label class="col-sm-2 control-label">Registration</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" name="registration" ng-model="edit_vehicle.registration" ng-disabled="!can_update" >
                </div>
            </div>
            <div class="hr-line-dashed"></div>            
            <div class="form-group">
            	<label class="col-sm-2 control-label">Color</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" name="engine" ng-model="edit_vehicle.color" ng-disabled="!can_update"  >
                </div>
            </div>
            <div class="hr-line-dashed"></div>            
            <div class="form-group">
            	<label class="col-sm-2 control-label">Engine</label>
                <div class="col-sm-10">
                	<input type="text" class="form-control" name="engine" ng-model="edit_vehicle.engine" ng-disabled="!can_update"  >
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">Transmission</label>
                <div class="col-sm-10">
                	 <select id="selected_transmission" class="form-control" ng-model="edit_vehicle.transmission" ng-options="transmission as transmission for transmission in vehiclePreData.transmissions" ng-disabled="!can_update" ></select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">Model year</label>
                <div class="col-sm-10">
                	<input type="number" class="form-control" name="model_year" ng-model="edit_vehicle.model_year"  ng-disabled="!can_update" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">Fuel type</label>
                <div class="col-sm-10">
                	<select id="selected_fuel" class="form-control" ng-model="edit_vehicle.fuel_type" ng-options="fuel_type as fuel_type for fuel_type in vehiclePreData.fuel_types"  ng-disabled="!can_update" ></select>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div  ng-if="can_update"  class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-white" ng-click="resetForm();">Reset</button>
                    <button class="btn btn-primary" ng-click="updateVehicle();">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>